
.DS_Store
URLRequest-cURL.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
URLRequest-cURL.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/xcschememanagement.plist
URLRequest-cURL.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
